<!DOCTYPE html>
<html>
<head>
  <title>Bityee</title>
  <%= stylesheet_link_tag    "bityee/application", media: "all" %>
  <%= javascript_include_tag "bityee/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
